<footer>
  <p>Follow me on social media</p>
  <div class="social-icons">
    <img class="social-icon" src="images/twitter.svg" alt="twitter icon">
    <img class="social-icon" src="images/instagram.svg" alt="instragram icon">
    <img class="social-icon" src="images/github.svg" alt="github icon">
  </div>
  <p class="copyright">Copyright 2019 Frank Lockett</p>
</footer>

<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/modal.js"></script>

</body>
</html>
